<h1>Do you want to play a game, <%= @player1_name %> and <%= @player2_name %>?</h1>

<form action="/attack" method="post">
  <button onclick=@player2_attack type="submit" name="attack" value="Attack">Attack</button>
</form>


<h1><%= @player2_name %> has <%= @player2_hp %> hitpoints</h1>
